body{
	
	background-color: white;
	
}

.container{
	position: absolute;
	align: center;
	background-color: red;

}


p{
	font-family: Arial;
	margin:0;
	text-align: left;

}

.gruppo_1 {color: black;}
.gruppo2 {color: white;}

.selezionato {
	color: black;
}

span{
	transition: color 500ms;
}